
<div class="container text-center">

<div class="card mb-3">
  <div class="row ">
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">This First Heading </h5><span>Will Catch Your Eye </span>
        <p class="card-text">Donec ullamcoper nulla non metus auctor fingilla. Vestibulum id ligula porfa felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          Fusce dapibus, tellis ac cursus commodo.</p>
      </div>
    </div>
    <div class=" col-4">
      <img src="https://cdn2.civitatis.com/reino-unido/londres/guia/distritos-m.jpg" class="img-fluid rounded-end" alt="...">
    </div>

  </div>
</div>

</div>