
<div class="row  justify-content-center">

<div class="card col-8 g-4">
  <div class="row ">
    <div class="col-8">
      <div class="card-body">
        <h5 class="fw-bold fs-3">This First Heading <span class="text-muted">Will Catch Your Eye </span></h5>

        <p class="card-text">Donec ullamcoper nulla non metus auctor fingilla. Vestibulum id ligula porfa felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
          Fusce dapibus, tellis ac cursus commodo.</p>
      </div>
    </div>
    <div class=" col-4">
      <img src="https://cdn2.civitatis.com/reino-unido/londres/guia/distritos-m.jpg" class=" rounded float-rigth rounded-circle" style= "width :250px " ; height="250px" alt="...">
    </div>

  </div>
</div>

</div>
